:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #242424;
}

html, body {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.wrapper {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  padding-top:2rem;
}

.wrapper h1{
  color: #fff;
}
.input-field {
  height:50px;
  width:90%;
  padding: 10px 0;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.input-field input{
  height:35px;
  width:30%;
}
.btn-search {
  margin:0 7px;
  color: #fff;
}

.wrapper .images-wrapper {
  columns:3;
  column-gap: 5px;
  margin:2px auto;
  width:80%;
}

.wrapper .images-wrapper img{
  object-fit:cover;
}

img:hover{
  cursor:zoom-in;
  transition: all 0.5s;
  transform: scale(1.1);
}
.modal-images{
  columns:3;
  column-gap:5px;
  margin:2px auto;
  height:80%;
}

.likes{
  display: flex;
  flex-direction: row;;
  justify-content: felx-start;
  align-items: center;
  padding:2px;
}
.likes .icon{
  font-size:22px;
  color:red;
}